{% extends "users/base.html" %}

{% block title %}
Sign up
{% endblock title %}


{% block content %}
<!-- <form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Sign up">
</form> -->
<h1>회원가입</h1>
<div class="auth">
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %}
        <input type="submit" value="Sign up">
    </form>
</div>

<div class="auth_link">
    <a href="{% url 'users:main' %}">Login</a>
</div>
{% endblock content %}